BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 120
DerivePointerAlignment: false
IncludeBlocks: Merge
PackConstructorInitializers: Never
PointerAlignment: Right
QualifierAlignment: Right
SortIncludes: false
